node_modules/
.env
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

